body{
    background-color: #eceef1;
}
.header{
    display: flex;
    position: absolute;
    right: 0px;
    background-color: white;
}
.header-text , .header-link{
  font-size: smaller;
  
}
.header-button{
    position: relative;
    margin-left: 15px;
    top: 10px;
    right: 10px;
    background-color: rgb(0, 132, 255);
    border-radius: 7px;
    border-width: 0px;
    color: white;
    border-color: black;
    border-radius: 4px;
    height: 50px;
    width: 85px;
    float: right;
}
.main-logo{
    display: flex;
    position: relative;
    justify-content: center;
    top: 150px;
    width: auto;
}
.logos{
    display: flex;
    position: relative;
    justify-content: center;
    top: 160px;
    margin-bottom: 180px;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    
}
.form-header{
    text-align: center;
}
.form-box{
    background-color: white;
    width: 400px;
    border: #c7c7c7 solid 1px;
    padding: 10px;
    border-radius: 2px;
    
}
fieldset{
    display: flex;
    flex-direction: column;
    border-width: 0px;
}
input , label{
    display: block;
    height: auto;
}
label p{
    font-size: x-small;

}
input{
    width: 350px;
}
.create-account{
    height: 40px;
    width: 350px;
    margin: 10px auto;
    position: relative;
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 7px;
    border-width: 0px;
}


